
<form method="post">
    <div class="row">
        <div class="col-lg-3"><button class="ReloadButtons" type="submit" asp-route-bullets="2">Koop 2 kogels voor €1</button></div>
        <div class="col-lg-3"><button class="ReloadButtons" type="submit" asp-route-bullets="9">Koop 9 kogels voor €4</button></div>
        <div class="col-lg-3"><button class="ReloadButtons" type="submit" asp-route-bullets="14">Koop 14 kogels voor €7</button></div>
    </div>
</form>

