# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GunsOfTheOldWest.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Gebruiker\source\repos\GunsOfTheOldWest\.idea\.idea.GunsOfTheOldWest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
